<div class="row bg-dark">
	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 offset-md-3 offset-lg-3 p-3">
		<form [formGroup]="this.usernameForm" (submit)="this.onSearchClick($event)">
			<div class="input-group">
				<div class="input-group-prepend">
					<span class="input-group-text" id="inputGroup-sizing-default">github.com/</span>
				</div>
				<input type="text" class="form-control" placeholder="Type here..." formControlName="username">
				<div class="input-group-append">
					<button class="btn" [ngClass]="this.showLoadingSpinner ? 'btn-danger' : 'btn-primary'"
						[disabled]="this.usernameForm.invalid || this.showLoadingSpinner" type="button"
						(click)="this.onSearchClick($event)"><span
							[ngClass]="showLoadingSpinner ? 'fa fa-spin fa-spinner' : 'fa fa-search'"></span>
					</button>
				</div>
			</div>
		</form>
	</div>
</div>