<div class="row">
	<div class="col-12 p-3">
		<div class="input-group">
			<div class="input-group-prepend">
				<span class="input-group-text" id="inputGroup-sizing-default">Username</span>
			</div>
			<input type="text" class="form-control" placeholder="Type here..." [(ngModel)]="this.username" (change)="this.onUsernameChange($event)">
			<div class="input-group-append">
				<button class="btn btn-primary" type="button" (click)="this.onSearchClick($event)"><span class="fa fa-search"></span> Search</button>
			</div>
		</div>
	</div>
</div>